doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/datetimepicker/css/bootstrap-datetimepicker.css")
    script(src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    script(src="/dist/js/bootstrap.js")
    script(src="/datetimepicker/js/bootstrap-datetimepicker.js")
  body
    block content
